<%= link_to car_path(car), class: "card" do %>
  <div class="card-content">
    <div class="card-img">
      <img src="<%= car.image_url %>" alt="">
    </div>
    <div class="card-infos">
      <div class="card-text">
        <div class="car-model">
          <%= car.brand %> <%= car.model %>
        </div>
        <div class="car-year">
          <%= car.year_of_production %>
        </div>
        <% if address_coordinates %>
          <div class="car-distance">
            <b>Distance :</b> <%= Geocoder::Calculations.distance_between(address_coordinates, [car.latitude,car.longitude]).round(2) %>km
          </div>
        <% end %>
      </div>
      <div class="card-price">
        <div class="price">
          <%= car.price_per_day.round(2) %>€
        </div>
        <p class="text-center">/jour</p>
      </div>
    </div>
  </div>
<% end %>
