<div class="container d-flex justify-content-between">
  <div class="car-content">
    <div class="comeback-link">
      <%= link_to "< Revenir à la liste des voitures", cars_path %>
    </div>
    <div class="car-image">
      <img src="<%= @car.image_url %>" alt="">
    </div>
    <div class="car-model">
      <%= @car.brand %>  <%= @car.model %>
    </div>
    <div class="car-year">
      <b>Année</b> : <%= @car.year_of_production %>
    </div>
    <div class="car-address">
      <b>Adresse de départ et retour :</b> <%= @car.address %>
    </div>
    <div class="car-owner">
      <b>Propriétaire</b> : <%= @car.user.email %>
    </div>
  </div>
  <div class="booking-part">
    <div class="booking-bloc">
      <div class="booking-bloc-title text-center">
        DATES
      </div>
      <%= simple_form_for [@car, @booking], class: "booking-form" do |f| %>
        <div class="form-row">
          <%= f.input :starts_at, as: :string,
                wrapper_html: { class: "mb-4" },
                label: "Ta période de location",
                :placeholder => 'Choix de dates',
                input_html: { data: { controller: "flatpickr" }, "data-flatpickr-range-value" => @booked_dates_range.to_json  } %>
        </div>
        <div class="car-price text-center">
          <div class="price">
            <%= @car.price_per_day.round(2) %>€
          </div>
          <p class="price_per_day text-center"><%= @car.price_per_day.round(2) %>€ / jour</p>
        </div>
        <div class="form-row text-center">
          <%= f.button :submit, class: "btn btn-flat", value: "Réserver" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
